<p>
  <%= label_tag l(:label_email_recipient_security) + ':' %>
  / <%= text_field_tag('settings[email_filter]', settings[:email_filter], placeholder: 'regex...') %> /i
  <%= l(:label_email_recipient_description_default) %>
  <em class="info"><%= l(:label_email_recipient_description) %></em>
</p>
